<%- include("template/cabecera", {tituloWeb:'Not Found'})%>

    <h1><%=mensaje%></h1>
    <img src="https://s3-eu-west-1.amazonaws.com/cinemania-s3b/wp-content/uploads/2015/12/03143750/giphy-7.gif">
<%- include("template/footer")%>
